@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers


<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>

<button id="btnGonder">Gönder</button>

<script>

    $("#btnGonder").click(() => {
        $.post("https://localhost:5001/product/createproduct",{a:"a data", b:"b data"});
    });
</script>






















@*<form asp-action="CreateProduct" asp-controller="Product" method="post">
    
    <input type="txt" name="txtvalue1"/><br/>
    <input type="txt" name="txtvalue2"/><br/>
    <input type="txt" name="txtvalue3"/><br/>
    <button>Gönder</button>

</form>

<a asp-action="Index" asp-controller="Home" asp-route-a="ahmet" asp-route-b="mehmet" asp-route-id="123" asp-route-x="jdfsgnvdsn">contect</a>*@