@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers

<form asp-action="CreateProduct" asp-controller="Product" method="post">

    <input type="text" name="txtProductName" placeholder="Product Name" />
    <br/>
    <input type="number" name="txtQuantity" placeholder="Quantity" />
    <br/>
    <button>Ürün Ekle</button>
</form>