@{
    Product d = new Product();

    <p>d.ProductName</p>
    
}
Burası Sayfa 2

@*@section solmenu{
    <ul>
        <li>A</li>
        <li>B</li>
        <li>C</li>
        <li>D</li>
    </ul>
}*@